@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, ul, p{
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: 'Merriweather', serif;
}

a{
	text-decoration: none;
	color: white;
}


/*Fixado*/
header#cbclh{
	position: fixed;
	z-index: 1;
	width: 100vw;
	height: 150px;
}

section#sbr{
	position: relative;
	top: 50px;
}

menu#prj{
	position: relative;
	top: 100px;
}

section#ctt{
	position: relative;
	top: 150px;
}
/*Fim do Fixado*/


/*Rolagem*/
::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent, #0F222D);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(transparent, #191970)
}
/*Fim da Rolagem*/


/*Header*/

/*Fim do Header*/


/*Menu*/
#mnu{
	display: flex;
}

#mnu ul{
	text-transform: uppercase; /*Maiúsculo*/
	position: absolute;
	top: 0px;
}

#mnu li{
	margin-left: 10px;
	color: white;
	display: inline-block; /*Um do lado do outro*/
	margin: 4px; /*Espaço entre os botões - Fora do objeto*/
	font-size: 1.1em;
	font-family: 'DM Mono', monospace;
	transition: color 1s; /*Cor do botão*/
	transition: background-color 1s;
}

#mnu a{
	color: white;
	padding: 15px;
	transition: color 1s; /*Cor do botão*/
	transition: background-color 1s;
}

#mnu li a{
	display: block;
}

#mnu a:hover{
	background-color: white;
	color: #0F222D;
}
/*Fim do Menu*/


/*Inicio*/
#inc{
	height: 750px;
	background-image: url(../images/fundo/fundo4.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

#inc h1{
	color:white;
	width: 550px;
	border-top: 5px solid black;
	padding-top: 25px;
	border-bottom: 5px solid black;
	padding-bottom: 25px;
	font-size: 3.5em;
	font-family: 'Balsamiq Sans', cursive;
	text-align: center;
}
/*Fim do Inicio*/


/*Sobre*/
#sbr{
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #457794;
	color: white;
}

#sbr h1{
	text-align: center;
	font-family: 'DM Mono', monospace;
	padding-bottom: 50px;
	font-size: 2.6rem;
}

#sbr h2{
	text-align: center;
	font-family: 'DM Mono', monospace;
	padding-bottom: 40px;
	color: black;
}

#sbr .foto-legenda{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#sbr img{
	width: 350px;
	height: 350px;
	border: 5px solid white; /*Borda*/
	box-shadow: 1px 1px 4px black; /*Sombra*/
}

#sbr figcaption{
	display: flex;
	flex-direction: column;
	height: 350px;
	width: 400px;
	text-align: justify;
}
/*Fim do Sobre*/


/*Projetos*/
#prj{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

#prj h1{
	text-align: center;
	font-family: 'DM Mono', monospace;
	padding-bottom: 150px;
}

#prj .crd{
	display: flex;
	flex-direction: row;
	padding-bottom: 100px;
	justify-content: space-evenly;
	opacity: 0;
	transform: translate3d(0, -100px, 0);
	transition: .3s;
}

#prj .animacao{
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

#prj p{
	font-family: 'Merriweather', serif;
	color: black;
}

#prj figcaption{
	display: flex;
	flex-direction: column;
	height: 300px;
	width: 550px;
	text-align: justify;
}

#prj #pj2 #download, #prj #pj4 #download, #prj #pj6 #download{
	width: 350px;
	height: 310px;
	display: flex;
	align-items: flex-end;
}

#prj #pj1 #download, #prj #pj3 #download, #prj #pj5 #download{
	width: 350px;
	height: 310px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#prj img .card-img-top{
	width: 300px;
	height: 300px;
}

#prj img:hover{
	border: 5px solid #d2f1fc; /*Borda*/
	box-shadow: 1px 1px 8px black; /*Sombra*/
}

#prj a{
	font-family: 'DM Mono', monospace;
	color: black;
	text-shadow: 1px 1px 30px black;
}

#prj a:hover{
	color: #457794;
	text-shadow: 0px 0px 0px black;
}

#prj #download{
	border: 0;
	background: none;
	font-size: 1.4rem;
	text-shadow: 0px 0px 0px black;
}

/*Fim do Projetos*/


/*Contato*/
#ctt{
	padding-bottom: 50px;
	background-color: #457794;
	color: white;
}

#ctt h1{
	padding-top: 20px;
	border-top: 1px solid black;
	text-align: center;
	font-family: 'DM Mono', monospace;
	padding-bottom: 70px;
	font-size: 2.6rem;
}

#ctt .row-line{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#nome, #email, #assunto, #mensagem{
    border-radius: 15px;
	width: 80vh;
}

input, label, textarea, button{
    font-family: 'DM Mono', monospace;
    font-size: 1em;
}

fieldset{
	border: 0px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

.campo input,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFF8DC;
}

.botao{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#botao {
    font-size: 1em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#botao{
    cursor: pointer;
}
/*Fim do Contato*/


/*Rodapé*/
#rodape{
	background-color: #191970;
	color: white;
	position: relative;
	top: 150px;
	padding-bottom: 10px;
}

#rodape a{
	color: #A9A9A9;
	font-family: 'DM Mono', monospace;
	padding-right: 5px;
}

#rodape p{
	padding-top: 50px;
	text-align: center;
	font-family: 'DM Mono', monospace;
}

#rodape h3{
	text-align: center;
	font-family: 'DM Mono', monospace;
}

#rodape .rdp{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#rodape nav{
	padding-top: 15px;
	display: block;
}

#rodape .n2 ul{
	display: flex;
	flex-direction: row;
}

#rodape ul img{
	height: 50px;
	width: 50px;
}
/*Fim do Rodapé*/
