@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, ul, p, input, button{
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: 'DM Mono', monospace;
}

a{
	text-decoration: none;
	color: white;
}


/*Fixado*/
header{
	position: fixed;
	z-index: 1;
	width: 100vw;
	height: 150px;
}

section.container{
	position: relative;
	top: 200px;
}
/*Fim do Fixado*/


/*Rolagem*/
::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}
 
::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent, #0F222D);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(transparent, #191970)
}
/*Fim da Rolagem*/


/*Header*/
hgroup{
	position: absolute;
	left: 120px;
}

header{
	background: #0F222D;
	display: flex; /*Cada parte do lado da outra*/
	flex-wrap: wrap; /*Tela menor = Um embaixo do outro*/
	justify-content: space-between;/*Espaçamento entre os itens*/
	align-items: center;/*Alinhar os itens*/
}

header img{
	height: 120px;
	width: 120px;
}

header h1{
	color: white;
	font-family: 'Balsamiq Sans', cursive;
}
/*Fim do Header*/


/*Menu*/
#menu{
	display: flex;
}

#menu ul{
	text-transform: uppercase; /*Maiúsculo*/
	position: absolute;
	top: 0px;
}

#menu li{
	margin-left: 10px;
	color: white;
	display: inline-block; /*Um do lado do outro*/
	margin: 4px; /*Espaço entre os botões - Fora do objeto*/
	font-size: 1.1em;
	font-family: 'DM Mono', monospace;
	transition: color 1s; /*Cor do botão*/
	transition: background-color 1s;
}

#menu a{
	padding: 15px;
	transition: color 1s; /*Cor do botão*/
	transition: background-color 1s;
}

#menu li a{
	display: block;
}

#menu a:hover{
	background-color: white;
	color: #0F222D;
}
/*Fim do Menu*/


/*Container*/
.container{
	padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1, .container p, .container h5{
    font-weight: bold;
    color: red;
}

.container p{
    font-size: 2em;
}

.container #bomba{
    height: 500px;
    width: 500px;
}
/*Fim do container*/


/*Rodapé*/
#rodape{
	background-color: #191970;
	color: white;
	position: relative;
	top: 300px;
}

#rodape a{
	color: #A9A9A9;
	font-family: 'DM Mono', monospace;
	padding-right: 5px;
}

#rodape p{
	padding-top: 50px;
	text-align: center;
	font-family: 'DM Mono', monospace;
}

#rodape h3{
	text-align: center;
	font-family: 'DM Mono', monospace;
}

#rodape .rdp{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#rodape nav{
	padding-top: 15px;
	display: block;
}

#rodape .n2 ul{
	display: flex;
	flex-direction: row;
}

#rodape ul img{
	height: 50px;
	width: 50px;
}
/*Fim do Rodapé*/